.DemoGoogleMap {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;

    .SearchBox {
        margin-top: 20px;
        
        input[type="text"] {
            width: 50vw;
            height: 30px;
            padding: 0 10px;
            outline: none;
        }
    }

    .MapWrapper {
        margin-top: 20px;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        width: 50vw;
    }
}