@import "../../../styles/variables";

.DemoUploadFiles {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    .Dropzone {
        width: 500px;
        height: 200px;
        display: flex;
        flex: 1;
        border: 2px dashed #CCC;
        cursor: pointer;
        justify-content: center;
        align-items: center;

        i {
            font-size: 80px;
            color: #CCC;
        }
    }

    .RemoveFileIcon {
        color: #CCC;
        &:hover {
            cursor: pointer;
            color: #000;
        }
    }
}