// Typography
$font-family-body: 'Courier', 'Helvetica Neue', sans-serif;

// Color
$my-color: #12a5f4;
$bg-primary-color: #000;

// Global margin
$header-height: 50px;
$bottom-height: 50px;
$side-bar-width: 50px;
$side-bar-width-toggling: 230px;