@import "../../styles/variables";

.App {
    font-family: $font-family-body;

    .NotFoundMessage {
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		font-size: 31px;
	}
}