@import "../../styles/variables";

.App {
    position: relative;
    font-family: $font-family-body;
    height: 100vh;
    .AppWrapper {
        display: flex;
        flex: 1;
        height: 100vh;
        position: relative;
        margin-left: $side-bar-width;
    }
}