.DemoIntl {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;

    .LanguagesSelection {
        display: flex;

        .LanguageOption {
            padding: 10px;
            display: flex;
            justify-content: center;
            cursor: pointer;
            input[type="radio"] {
                margin-right: 5px;
                transform: scale(1.5);
            }
        }
    }
    .LanguageData {
        .txtFormattedMessage {
            span {
                font-size: 21px;
                text-transform: uppercase;
                font-weight: 900;
            }
        }
        .txtFormattedDate {
            margin-right: 10px;
        }
    }
}