.Body {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 50px;

	span {
		font-size: 3em;
		font-weight: 900;
	}
}
